@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700");
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?-q2bryf");
  src: url("fonts/icomoon.eot?#iefix-q2bryf") format('embedded-opentype'), url("fonts/icomoon.woff?-q2bryf") format('woff'), url("fonts/icomoon.ttf?-q2bryf") format('truetype'), url("fonts/icomoon.svg?-q2bryf#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-objetivo:before {
  content: "\e606";
}
.icon-bandera:before {
  content: "\e604";
}
.icon-github:before {
  content: "\e603";
}
.icon-twitter:before {
  content: "\e602";
}
.icon-facebook:before {
  content: "\e601";
}
.icon-youtube:before {
  content: "\e600";
}
.icon-edificio:before {
  content: "\e605";
}
.icon-menu:before {
  content: "\23";
}
.bienvenida img {
  max-width: 290px;
}
.bienvenida p:last-child {
  margin-bottom: 0;
}
#carousel {
  height: 260px;
  overflow: hidden;
  padding: 0;
}
#carousel .carousel-inner {
  min-height: 100%;
}
#carousel .carousel-control {
  cursor: pointer;
  width: 10%;
}
#carousel .carousel-indicators li {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  -ms-transition: 300ms;
  transition: 300ms;
}
#carousel .description {
  background: rgba(0,0,0,0.7);
  color: #fff;
  height: 80px;
  padding: 0 1em;
  position: absolute;
  top: 200px;
  width: 100%;
}
#carousel .flecha img {
  position: relative;
  top: 40%;
  width: 12px;
}
#carousel .item {
  min-height: 260px;
}
#carousel .item img {
  min-height: 260px;
  width: 100%;
}
.noticias .noticia {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  cursor: pointer;
  display: block;
  height: 140px;
  float: none;
  margin-bottom: 1.5em;
  overflow: hidden;
  position: relative;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  -ms-transition: 300ms;
  transition: 300ms;
}
.noticias .noticia .info {
  background: rgba(0,0,0,0.7);
  color: #fff;
  display: block;
  height: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  padding: 0em;
  -webkit-transition: 250ms ease-in-out;
  -moz-transition: 250ms ease-in-out;
  -o-transition: 250ms ease-in-out;
  -ms-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  width: 100%;
}
.noticias .noticia .info:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.noticias .noticia .info p {
  bottom: 0;
  padding: 12px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.noticias .mas {
  display: block;
  margin-top: -12px;
}
@media screen and (max-width: 480px) {
  #carousel {
    height: 180px;
  }
}
.maestros {
  text-align: center;
}
.maestros .maestro {
  background: #eaeaea;
  -webkit-box-shadow: 0px 1px 2px #808080;
  box-shadow: 0px 1px 2px #808080;
  display: inline-block;
  float: none;
  padding: 0.5em 0;
  margin: 0 10px 10px 0;
}
.maestros .maestro img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 4em;
}
.login {
  margin-bottom: 1.5em;
}
.login input {
  display: inline-block;
  margin: 0 1em 1em 1em;
  width: 60%;
}
.login button {
  background: #193f64;
  border: none;
  border-bottom: 4px solid #052b50;
  bottom: 0.8em;
  color: #fff;
  display: inline-block;
  left: 25%;
  padding: 0.5em 0;
  position: absolute;
  width: 50%;
}
.login button:active {
  border-bottom: none;
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -o-transform: translateY(4px);
  -ms-transform: translateY(4px);
  transform: translateY(4px);
}
.acerca {
  padding-left: 1em;
}
.acerca h4 {
  color: #0f355a;
  font-size: 1.3em;
  margin-top: 1.5em;
}
.acerca h4 span {
  padding-right: 1em;
}
.acerca p {
  font-size: 0.9em;
}
.acerca p strong {
  color: #0f355a;
}
.acerca ul li {
  font-size: 0.9em;
}
.documentos a {
  display: block;
}
.documentos h2 {
  font-size: 24px;
}
body {
  background: #c7cdd1;
  color: #000;
  font-family: "PT Sans";
  font-size: 16px;
  text-align: center;
}
footer {
  background: #0f355a;
  margin-bottom: 1em;
  padding: 1em 0;
}
h3 {
  border-bottom: 1px solid #193f64;
  padding-bottom: 0.5em;
  margin-top: 1em;
  text-align: center;
}
.container {
  max-width: 1000px;
}
.contenido {
  background: #fafafa;
  -webkit-box-shadow: 0px 2px 2px #808080;
  box-shadow: 0px 2px 2px #808080;
  margin: 1em 0;
}
.header {
  background: #fff;
  width: 100%;
}
.header .titulo {
  background: #0f355a;
  color: #fff;
  font-size: 1.5em;
  padding: 0.4em;
  text-transform: uppercase;
}
.login {
  padding: 1em;
  text-align: center;
}
.logo {
  padding-left: 0;
}
.logo img {
  width: 100%;
}
.logos img {
  height: 3em;
}
.navbar {
  background: #193f64;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.navbar-nav {
  display: inline-block;
  float: none height 45px;
}
.navbar-nav li a {
  color: #c7cdd1;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  -ms-transition: 300ms;
  transition: 300ms;
}
.navbar-nav li:nth-child(2) {
  cursor: pointer;
}
.sm-titulo {
  color: #fff;
  display: none;
  font-size: 1.2em;
  line-height: 50px;
}
/*************** TABLET QUERY ******************/
@media screen and (max-width: 767px) {
  .activo {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .header .titulo {
    display: none;
  }
  .navbar-header {
    background: #0f355a;
    text-align: center;
  }
  .navbar-header .sm-titulo {
    display: inline-block;
  }
  .navbar-toggle {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    -ms-transition: 300ms;
    transition: 300ms;
  }
  .navbar-toggle .icon-menu {
    color: #fff;
    font-size: 1.8em;
  }
  #navbar {
    height: 249px;
  }
}
/*************** PHONE QUERY ******************/
@media screen and (max-width: 480px) {
  .navbar-header .sm-titulo {
    font-size: 0.9em;
    line-height: 54px;
  }
  .noticias .noticia {
    width: 96%;
  }
  #carousel-noticias {
    height: 160px;
  }
  #carousel-noticias .description {
    top: 90px;
  }
}
/*************** MAX QUERY ******************/
@media screen and (min-width: 1000px) {
  body {
    text-align: center;
  }
  .main {
    display: inline-block;
    width: 1000px;
  }
}
