@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?-cbzc27");
  src: url("fonts/icomoon.eot?#iefix-cbzc27") format('embedded-opentype'), url("fonts/icomoon.woff?-cbzc27") format('woff'), url("fonts/icomoon.ttf?-cbzc27") format('truetype'), url("fonts/icomoon.svg?-cbzc27#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-login:before {
  content: "\e603";
}
.icon-pass:before {
  content: "\e602";
}
.icon-menu:before {
  content: "\e601";
}
.icon-user:before {
  content: "\e600";
}
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600");
#carousel-noticias {
  height: 280px;
  overflow: hidden;
  padding: 0;
}
#carousel-noticias .carousel-inner {
  min-height: 100%;
}
#carousel-noticias .carousel-control {
  cursor: pointer;
}
#carousel-noticias .carousel-indicators li {
  background: rgba(0,0,0,0.6);
  border: none;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  -ms-transition: 300ms;
  transition: 300ms;
}
#carousel-noticias .carousel-indicators .active {
  background: rgba(0,0,0,0.9);
}
#carousel-noticias .description {
  background: rgba(0,0,0,0.7);
  color: #fff;
  height: 80px;
  padding: 0 1em;
  position: absolute;
  top: 200px;
  width: 100%;
}
#carousel-noticias .item {
  min-height: 160px;
}
#carousel-noticias .item img {
  min-height: 160px;
  width: 100%;
}
body {
  background: #bdc3c7;
  font-family: "Open Sans";
  font-size: 16px;
  text-align: center;
}
footer {
  background: #0f355a;
  margin-bottom: 1em;
  padding: 1em 0;
}
.header {
  background: #fff;
  width: 100%;
}
.header .titulo {
  background: #0f355a;
  color: #fff;
  font-size: 1.45em;
  padding: 0.4em;
}
.contenido {
  background: #ececec;
  margin: 1em 0;
  padding: 15px 0;
}
.logo {
  padding-left: 0;
}
.logo img {
  width: 100%;
}
.logos img {
  height: 3em;
}
.navbar {
  background: #193f64;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.navbar-nav {
  display: inline-block;
  float: none height 45px;
}
.navbar-nav li a {
  color: #bdc3c7;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  -ms-transition: 300ms;
  transition: 300ms;
}
.navbar-nav li:nth-child(2) {
  cursor: pointer;
}
.sm-titulo {
  color: #fff;
  display: none;
  font-size: 1.2em;
  line-height: 50px;
}
/*************** TABLET QUERY ******************/
@media screen and (max-width: 768px) {
  .activo {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .header .titulo {
    display: none;
  }
  .navbar-header {
    background: #0f355a;
    text-align: center;
  }
  .navbar-header .sm-titulo {
    display: inline-block;
  }
  .navbar-toggle {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    -ms-transition: 300ms;
    transition: 300ms;
  }
  .navbar-toggle .icon-menu {
    color: #fff;
    font-size: 1.8em;
  }
  #navbar {
    height: 249px;
  }
}
/*************** PHONE QUERY ******************/
@media screen and (max-width: 480px) {
  .navbar-header .sm-titulo {
    font-size: 0.9em;
    line-height: 54px;
  }
  #carousel-noticias {
    height: 160px;
  }
  #carousel-noticias .description {
    top: 90px;
  }
}
/*************** MAX QUERY ******************/
@media screen and (min-width: 1200px) {
  body {
    text-align: center;
  }
  .main {
    display: inline-block;
    width: 1200px;
  }
}
