@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600");
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?-vs54fe");
  src: url("fonts/icomoon.eot?#iefix-vs54fe") format('embedded-opentype'), url("fonts/icomoon.woff?-vs54fe") format('woff'), url("fonts/icomoon.ttf?-vs54fe") format('truetype'), url("fonts/icomoon.svg?-vs54fe#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-facebook:before {
  content: "\20";
}
.icon-twitter:after {
  content: "\21";
}
.icon-youtube:before {
  content: "\22";
}
.icon-menu:before {
  content: "\23";
}
#carousel-noticias {
  height: 280px;
  overflow: hidden;
  padding: 0;
}
#carousel-noticias .carousel-inner {
  min-height: 100%;
}
#carousel-noticias .carousel-control {
  cursor: pointer;
}
#carousel-noticias .carousel-indicators li {
  background: rgba(0,0,0,0.6);
  border: none;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  -ms-transition: 300ms;
  transition: 300ms;
}
#carousel-noticias .carousel-indicators .active {
  background: rgba(0,0,0,0.9);
}
#carousel-noticias .description {
  background: rgba(0,0,0,0.7);
  color: #fff;
  height: 80px;
  padding: 0 1em;
  position: absolute;
  top: 200px;
  width: 100%;
}
#carousel-noticias .item {
  min-height: 160px;
}
#carousel-noticias .item img {
  min-height: 160px;
  width: 100%;
}
.maestros {
  text-align: center;
}
.maestros .maestro {
  background: #dedede;
  -webkit-box-shadow: 0px 1px 2px #000;
  box-shadow: 0px 1px 2px #000;
  display: inline-block;
  float: none;
  padding: 0.5em 0;
  margin: 0 10px 10px 0;
}
.maestros .maestro img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 4em;
}
body {
  background: #c7cdd1;
  color: #000;
  font-family: "Open Sans";
  font-size: 16px;
  text-align: center;
}
footer {
  background: #0f355a;
  margin-bottom: 1em;
  padding: 1em 0;
}
h3 {
  border-bottom: 1px solid #193f64;
  padding-bottom: 0.5em;
  margin-top: 1em;
}
.header {
  background: #fff;
  width: 100%;
}
.header .titulo {
  background: #0f355a;
  color: #fff;
  font-size: 1.5em;
  padding: 0.4em;
}
.contenido {
  background: #fafafa;
  margin: 1em 0;
}
.login {
  padding: 1em;
  text-align: center;
}
.logo {
  padding-left: 0;
}
.logo img {
  width: 100%;
}
.logos img {
  height: 3em;
}
.navbar {
  background: #193f64;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.navbar-nav {
  display: inline-block;
  float: none height 45px;
}
.navbar-nav li a {
  color: #c7cdd1;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  -ms-transition: 300ms;
  transition: 300ms;
}
.navbar-nav li:nth-child(2) {
  cursor: pointer;
}
.sm-titulo {
  color: #fff;
  display: none;
  font-size: 1.2em;
  line-height: 50px;
}
/*************** TABLET QUERY ******************/
@media screen and (max-width: 768px) {
  .activo {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .header .titulo {
    display: none;
  }
  .navbar-header {
    background: #0f355a;
    text-align: center;
  }
  .navbar-header .sm-titulo {
    display: inline-block;
  }
  .navbar-toggle {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    -ms-transition: 300ms;
    transition: 300ms;
  }
  .navbar-toggle .icon-menu {
    color: #fff;
    font-size: 1.8em;
  }
  #navbar {
    height: 249px;
  }
}
/*************** PHONE QUERY ******************/
@media screen and (max-width: 480px) {
  .navbar-header .sm-titulo {
    font-size: 0.9em;
    line-height: 54px;
  }
  #carousel-noticias {
    height: 160px;
  }
  #carousel-noticias .description {
    top: 90px;
  }
}
/*************** MAX QUERY ******************/
@media screen and (min-width: 1200px) {
  body {
    text-align: center;
  }
  .main {
    display: inline-block;
    width: 1200px;
  }
}
