.acerca
	padding-left 1em
	h4
		color #0F355A
		font-size 1.3em
		margin-top 1.5em
		span
			padding-right 1em
	p
		font-size .9em
		strong
			color #0F355A
	ul li
		font-size .9em
.documentos
	a
		display block
	h2
		font-size 24px