#carousel-noticias
	height 280px
	overflow hidden
	padding 0
	.carousel-inner
		min-height 100%
	.carousel-control
		cursor pointer
	.carousel-indicators
		li
			background rgba(0, 0, 0, .6)
			border none
			transition 300ms
		.active
			background rgba(0, 0, 0, .9)
	.description
		background rgba(0, 0, 0, .9)
		color white
		height 80px
		padding 0 1em
		position absolute
		top 200px
		width 100%
	.item
		min-height 160px
		img
			min-height 160px
			width 100%