azul = #0F355A + 10
.login
	margin-bottom 1.5em
	input
		display inline-block
		margin 0 1em 1em 1em
		width 60%
	button
		background azul
		border none
		border-bottom 4px solid azul - 20
		bottom .8em
		color white
		display inline-block
		left 25%
		padding 0.5em 0
		position absolute
		width 50%
		&:active
			border-bottom none
			transform translateY(4px)