@import "nib"
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600")
@import "fonts.styl"
//Estilos de cada página
@import "inicio.styl"
@import "docentes.styl"
//Paleta de colores
azulRey = #0F355A
azul    = azulRey + 10
blanco  = #fafafa
gris    = #C7CDD1
//Estilos universales
body
	background gris
	color black
	font-family "Open Sans"
	font-size 16px
	text-align center
footer
	background azulRey
	margin-bottom 1em
	padding 1em 0
h3
	border-bottom 1px solid azul
	padding-bottom .5em
	margin-top 1em
.header
	background white
	width 100%
	.titulo
		background azulRey
		color white
		font-size 1.5em
		padding .4em
.contenido
	 background blanco
	 margin 1em 0
.login
	padding 1em
	text-align center
.logo
	padding-left 0
	img
		width 100%
.logos img //footer
	height 3em
.navbar
	background azul
	border-radius 0
.navbar-nav
	display inline-block
	float none	height 45px
	li a
		color gris
		text-align center
		transition 300ms
	li:nth-child(2)
		cursor pointer
.sm-titulo
	color white
	display none
	font-size 1.2em
	line-height 50px
/*************** TABLET QUERY ******************/
@media screen and (max-width 768px)
	.activo
		transform rotate(-90deg)
	.header .titulo
		display none
	.navbar-header
		background azulRey
		text-align center
		.sm-titulo
			display inline-block
	.navbar-toggle
		transition 300ms
		.icon-menu
			color white
			font-size 1.8em
	#navbar
		height 249px
/*************** PHONE QUERY ******************/
@media screen and (max-width 480px)
	.navbar-header .sm-titulo
		font-size .9em
		line-height 54px
	#carousel-noticias
		height 160px
		.description
			top 90px			
/*************** MAX QUERY ******************/
@media screen and (min-width 1200px)
	body
		text-align center
	.main
		display inline-block
		width 1200px