<h3>{{titulo}}</h3>
<div class="row">
	<!--ACERCA DEL ÁREA -->
	<div class="col-md-7 acerca text-justify">
		<h4><span class="icon-bandera"></span>Misión</h4>
		<div class="row">
			<p class="col-md-8 col-sm-8" >
				La formación de profesionales del más <strong>alto nivel</strong>, capaces de desempeñarse en forma digna y eficaz en beneficio de la sociedad, que posean una base firme de conocimientos en su disciplina, con habilidades de pensamiento lógico, de autoactualización, de trabajo en equipo, proactivos, críticos y creativos, con dominio del idioma, capaces de identificar, plantear y resolver problemas de manejo de información y automatización de procesos mediante el uso, adaptación y/o desarrollo de tecnología informática y/o computacional en cualquier área de conocimiento o campo de aplicación.
			</p>
			<img class="col-md-4 col-sm-4 col-xs-12" src="http://infocomp.ingenieria.uaslp.mx/infocomp/images/area1.jpg" alt="Infocomp - Edicio">
		</div>

		<h4><span class="icon-objetivo"></span>Estrategia</h4>
		<ul>
		    <li>Brindar a sus alumnos una formación científica, tecnológica y humanística, acorde con las necesidades sociales.</li>
		    <li>Realizar investigación básica para el desarrollo de tecnología, y aplicada para la innovación y resolución de problemas específicos.</li>
		    <li>Ofrecer un ambiente que promueva la adopción de valores y actitudes así como el desarrollo de habilidades.</li>
		    <li>Promover la actualización y compromiso del personal académico.</li>
		    <li>Promover el interés, responsabilidad y compromiso de nuestros alumnos.</li>
		    <li>Promover el interés de los padres de familia en la formación de nuestros alumnos.</li>
	    </ul>

		<h4><span class="icon-edificio"></span>Infraestructura</h4>
		<p>
			La carrera cuenta con un moderno edificio con acceso a Internet que consta de 11 aulas de clase, un laboratorio con capacidad 150 equipos de cómputo dividido en 6 aulas para aprendizaje interactivo; un laboratorio para <strong>Cómputo Distribuido</strong>; un laboratorio para la elaboración de <strong>Circuitos Impresos</strong>; un laboratorio de <strong>Electrónica y Sistemas Digitales</strong>; un laboratorio de <strong>Redes y Telecomunicaciones</strong> y un laboratorio para <strong>Software de Aplicación</strong>.<br><br>

			La Facultad cuenta con un Centro de Información de primer nivel con acceso a bancos de información internacionales y un Departamento de Inglés con instalaciones y equipamiento para el óptimo aprendizaje del idioma inglés, entre otros muchos servicios e instalaciones de apoyo como Auditorio, Aula Magna, Cafeterí­a e instalaciones deportivas. <br><br>

			La planta de profesores se encuentra en capacitación técnica y pedagógica continua y posee habilitación que incluye los grados de doctorado, maestrí­a y licenciatura, lo que les permite ofrecer una adecuada asesorí­a y atención al alumnado. 
		</p><br>
	</div>
	
	<!--DOCUMENTOS -->
	<div class="col-md-5 documentos">
		<h2>Normativa de la UASLP</h2>
		<a ng-repeat="documento in documentosNormativa" href="{{documento.link}}" target="_blank">{{documento.nombre}}</a>
		<h2>Normativa de la Facultad</h2>
		<a ng-repeat="documento in documentosFacultad" href="{{documento.link}}" target="_blank">{{documento.nombre}}</a>
	</div>

</div>
