<div class="row">
	<div id="carousel-noticias" class="carousel slide col-md-8" data-ride="carousel" data-interval="800000000000">
		<!-- Noticias -->
		<div class="carousel-inner" role="listbox">
			<div class="item active" ng-repeat-start="noticia in noticias" ng-if="$first">
				<img src={{noticia.source}}>
      			<div class="description">{{noticia.name}}</div>
			</div>
			<div class="item" ng-repeat-end="noticia in noticias" ng-if="!$first">
				<img src={{noticia.source}} alt={{noticia.name}}>
      			<div class="description">{{noticia.name}}</div>
			</div>
		</div>
		<!-- Controles -->
		<a class="left carousel-control" data-target="#carousel-noticias" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Anterior</span>
		</a>
		<a class="right carousel-control" data-target="#carousel-noticias" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Siguiente</span>
		</a>
	</div>
</div>